.decor-1{
  display: none;
}

.decor-2{
  display: none;
}

.header{
  display: grid;
  grid-template-columns: 1fr 7fr;
  position: relative;
}

.menu{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 75px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--menuBGColor);
  box-shadow: 0px 0px 25px 5px black;

  cursor: pointer;
  z-index: 3;
}

.email-me{
  display: none;
  cursor: pointer;
}

#paint-your-pixture{
  height: 80vh;
  position: relative;

  background-color: var(--menuBGColor);
  background-image: url('../img/paint-your-pixture_phone.png');
  background-position: center;
  background-size: cover;

  box-shadow: -2px -2px 25px 5px black;

  grid-column: 2;
}

#paint-your-pixture .info{
  position: relative;
  margin-block-start: 50px;
}

#paint-your-pixture .info .see-more{
  display: none;
}

#paint-your-pixture .img-wrapper{
  display: none;
}

#paint-your-pixture .title{
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 200px;
}

#paint-your-pixture .subtitle{
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

#paint-your-pixture .content{
  margin-inline-start: 20px;
  margin-inline-end: 28px;
  margin-block-start: 15px;
}

#paint-your-pixture .more-info{
  display: none;
}

#its-your-passion .see-more,
#paint-your-pixture .see-more{
  position: absolute;
  bottom: 30px;
  right: 20px;

  cursor: pointer;
}

.sidebar{
  grid-column: 1;

  display: flex;
  justify-content: center;

  z-index: 2;
  
}

.sidebar .content{
  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;

  transform: rotate(-90deg);
  width: 100%;
}

.sidebar .content .arrow-button{
  position: relative;
  right: 35px;
}

.sidebar .content .title{
  font-size: 11px;
  font-weight: 600;
}

.body .sidebar{
  display: none;
}

#its-your-passion{
  position: relative;
  height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--menuBGColor);
  background-image: url('../img/its-your-passion_phone.png');
  background-position: center;
  background-size: cover;

}

#its-your-passion .more-info{
  display: none;
}

#its-your-passion .img-wrapper{
  width: 100%;
  margin-block-start: 60%;

  display: flex;
  justify-content: center;
}

#its-your-passion .title-img{
  width: 300px;
}


#its-your-passion .info{
  position: relative;
  margin-block-start: 150px;
  margin-inline-start: 32px;
  margin-inline-end: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

#its-your-passion .info .see-more{
  display: none;
}

#its-your-passion .subtitle{
  margin-block-end: 7px;
}

.more-info{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;

  padding: 40px;
  box-sizing: border-box;
}

.more-info .main{
  grid-column: 1 / span 2;
  margin-block-end: 30px;
}

.more-info p{
  margin-block-end: 20px;
  line-height: 1.35;
}

.more-info .subtitle{
  font-weight: 600;
  font-size: 13px;

  margin-block-end: 10px;
}

.more-info .content{
  line-height: 1.7;
  font-size: 9px;

  margin-block-end: 25px;
}

#credit{
  width: 100vw;
  height: 100vw;
  position: relative;

  background-image: url('../img/credits_image_phone.png');
  background-position: center;
  background-size: cover;
}

#credit .info{
  position: absolute;
  left: 50px;
  bottom: 50px;
}

#credit .title{
  font-size: 40px;
  font-weight: 500;

  margin-block-end: 30px;
}

#credit .subtitle{
  font-size: 17px;
  font-weight: 600;
}

#credit .content{
  width: 60%;
}

.footer .navigation{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  padding: 40px;
}

.footer .navigation .desktop{
  display: none;
}

.navigation p{
  margin-block-end: 20px;
  line-height: 1.35;
}

.navigation .subtitle{
  color: var(--textColor_blue);
  font-weight: 600;
  font-size: 13px;

  margin-block-end: 10px;
}

.navigation .content{
  line-height: 1.7;
  font-size: 11px;

  margin-block-end: 5px;
}

.navigation .afterwords{
  margin-block-start: 70px;
  font-size: 9px;
  line-height: 1.7;
  opacity: 0.3;

  grid-column: 1/span 2;
}

.col-1{
  grid-column: 1/2;
}

.col-2{
  grid-column: 2/3;
}

.col-3{
  grid-column: 3/4;
}

@media screen and (max-height: 850px){
  #its-your-passion .img-wrapper{
    margin-block-start: 40%;
  }
}