:root{
  --textColor: white;
  --textColor_blue: rgb(13,55,87);
  --menuBGColor: rgb(20, 3, 39);
  --themeBGColor: rgb(21, 3, 42);
}

body{
  background-color: var(--themeBGColor);
  overflow-x: hidden;
  position: relative;
}

* {
  color: var(--textColor);
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

p{
  font-size: 12px;
}

.container{
  width: 100%;
}

.title{
  font-size: 55px;
  line-height: 0.9;
}

.subtitle{
  font-size: 20px;
  line-height: 0.9;
}

.content{
  font-size: 12px;
  line-height: 1.3;
}



.flex-column{
  display: flex;
  flex-direction: column;
}